# App usuarios
apps/usuarios/__pycache__
apps/usuarios/migrations/__pycache__

crud_app/__pycache__
#App core
apps/core/__pycache__
apps/core/migrations/__pycache__
#App transacciones
apps/transacciones/__pycache__
apps/transacciones/migrations/__pycache__
#App authentication
apps/authentication/__pycache__
apps/transacciones/migrations/__pycache__

.env
/venv/
/crud/

db.sqlite3

