{% extends "core/base.html" %}
{% load static %}
{% block content %} 
<body class="g-sidenav-show  bg-gray-100">
    {% include "core/menu.html" %}
    <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
        
        <!-- Navbar -->
        {% include "core/navbar.html" %}
        <!-- End Navbar -->
        <div class="row pt-4 mx-4">
            {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <span class="alert-text"><i class="ni ni-circle-08 me-2" aria-hidden="true"></i><strong>¡NUEVO!</strong> {{ message|safe }}</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                {% elif message.tags == 'info' %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <span class="alert-text"><i class="ni ni-circle-08 me-2" aria-hidden="true"></i><strong>¡ACTUALIZACIÓN!</strong> {{ message|safe }}</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                {% elif message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span class="alert-text"><i class="ni ni-circle-08 me-2" aria-hidden="true"></i><strong>¡ERROR!</strong> {{ message|safe }}</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                {% endif %}
            {% endfor %}
            {% endif %}
        </div>          
        <!--Inicio FOrmulario modificado por mi-->
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-12">
                    <div class="col-6">
                        <div class="card mb-4" > 
                            <div class="card-header pb-0 ">
                                <h6>Registrar rol</h6>  
                            </div>
                            <div class="card-body px-4 pt-0 pb-2">
                                <form  method="POST">
                                {% csrf_token %} 
                                
                                {% comment %}  <div class="form-group">
                                        <label for="name" class="form-control-label">Nombre</label>
                                        <input class="form-control" type="text"  id="name" name="name">
                                    </div>

                                    <div class="form-group">
                                        <label for="descrip" class="form-control-label">Descripcion</label>
                                        <input class="form-control" type="text"  id="descrip" name="descrip">
                                    </div>
                                    

                                    <div class="form-group">
                                        <label for="status">Status</label>
                                        <select class="form-control" name="status" id="status">
                                            <option value="true">True</option>
                                            <option value="false">False</option>
                                        </select>
                                    </div> {% endcomment %}
                                    {{rol_formulario.nombre.label_tag}}  
                                    <input type="text" name="{{ rol_formulario.nombre.name }}" 
                                    value="{{ rol_formulario.nombre.value|default_if_none:'' }}" 
                                    class="form-control {% if rol_formulario.nombre.errors %} is-invalid{% endif %}">
                                    {% for error in rol_formulario.nombre.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                    {{rol_formulario.descripcion.label_tag}}  
                                    {{rol_formulario.descripcion}}
                                    {% for error in rol_formulario.descripcion.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                    {% endfor %}
                                    {{rol_formulario.status.label_tag}}
                                    {{rol_formulario.status}}
                                    {% for error in rol_formulario.status.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                    {% endfor %}                          
                                                                                
                                    <button type="submit" class="btn btn-default">Enviar</button><br>
                                </form>
                            </div>
                        </div>
                    </div>
{% comment %}                     <div class="col-6">
                        <div class="card mb-4" > 
                            <div class="card-header pb-0 ">
                                <h6>Registrar rol formulario dos</h6>  
                            </div>
                            <div class="card-body px-4 pt-0 pb-2">
                                <form  method="POST">
                                {% csrf_token %} 
                                
                                 <div class="form-group">
                                        <label for="name" class="form-control-label">Nombre</label>
                                        <input class="form-control" type="text"  id="name" name="name">
                                    </div>

                                    <div class="form-group">
                                        <label for="descrip" class="form-control-label">Descripcion</label>
                                        <input class="form-control" type="text"  id="descrip" name="descrip">
                                    </div>
                                    

                                    <div class="form-group">
                                        <label for="status">Status</label>
                                        <select class="form-control" name="status" id="status">
                                            <option value="true">True</option>
                                            <option value="false">False</option>
                                        </select>
                                    </div>
                                    
                                    
                                    {{rol_formulario_dos.nombre.label_tag}}  

                                    <input type="text" name="{{ rol_formulario_dos.nombre.name }}" 
                                    value="{{ rol_formulario_dos.nombre.value|default_if_none:'' }}" 
                                    class="form-control {% if rol_formulario_dos.nombre.errors %} is-invalid{% endif %}">
                                    {% for error in rol_formulario_dos.nombre.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                    {{rol_formulario_dos.descripcion.label_tag}}  
                                    {{rol_formulario_dos.descripcion}}
                                    {% for error in rol_formulario_dos.descripcion.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                    {% endfor %}
                                    {{rol_formulario_dos.status.label_tag}}
                                    {{rol_formulario_dos.status}}
                                    {% for error in rol_formulario_dos.status.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                    {% endfor %}                          
                                    {{rol_formulario_dos.correo.label_tag}}  
                                    {{rol_formulario_dos.correo}}
                                    {% for error in rol_formulario_dos.correo.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                    {% endfor %}
                                    {{rol_formulario_dos.telefono.label_tag}}  
                                    {{rol_formulario_dos.telefono}}
                                    {% for error in rol_formulario_dos.telefono.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                    {% endfor %}
                                    {{rol_formulario_dos.password.label_tag}}  
                                    {{rol_formulario_dos.password}}
                                    {% for error in rol_formulario_dos.password.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                    {% endfor %}                                
                                    <button type="submit" class="btn btn-default">Enviar</button><br>
                                </form>
                            </div>
                        </div>
                    </div> {% endcomment %}
                    
                   
                        
                </div>
            </div>
        </div>
        <!--Fin FOrmulario-->
      

        <!--Inicio FOrmulario original 
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-3">
                        <form  method="POST">
                            {% csrf_token %} 
                            <label for="name">Nombre:</label>
                            <input type="text" id="name" name="name"><br>

                            <label for="descrip">Descripcion:</label>
                            <input type="text" id="descrip" name="descrip"><br>

                            <label for="status">Status:</label>
                            <select name="status" id="status" class="form-control">
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                                                                           
                            <button type="submit" class="btn btn-default">Enviar</button><br>
                        </form>
                </div>
            </div>
        </div>
        Fin FOrmulario-->
        
        <div class="container-fluid py-4">
            <div class="row">
                <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                    <h6>Roles</h6>
                    </div>
                    <div class="card-body px-2 pt-0 pb-2">
                        <!--BUSCADOR INICIO-->
                        <form method="GET">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Buscar..." aria-label="Recipient's username" aria-describedby="button-addon2" name="search_rol">
                                        <button class="btn btn-outline-primary mb-0" type="submit" id="button-addon2">Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--BUSCADOR FIN-->
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nombre</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Descripcion</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            <!--Codigo Python-->
                            {% for rol in roles  %}
                                    <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                        <div>
                                            <img src="../assets/img/team-2.jpg" class="avatar avatar-sm me-3" alt="user1">
                                        </div>
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm"> {{rol.nombre}}</h6>
                                        </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">{{rol.descripcion}}</p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        {% if rol.status  %}
                                        <span class="badge badge-sm bg-gradient-success">Activo</span>
                                        {% else %}
                                        <span class="badge badge-sm bg-gradient-danger">Inactivo</span>
                                                
                                        {% endif %}
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <p>{{rol.id_rol}}</p>
                                        
                                        <a href="{% url 'eliminar-rol' rol.id_rol  %}" type="button" class="btn btn-danger btn-sm">Eliminar</a>
                                        <a href="{% url 'editar-rol' rol.id_rol  rol.nombre %}" type="button" class="btn btn-warning btn-sm">Editar</a>    
                                        
                                             
                                        
                                    </td>
                                    {% comment %} <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">23/04/18</span>
                                    </td>
                                    <td class="align-middle">
                                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                        Edit
                                        </a>
                                    </td> {% endcomment %}
                                </tr>
                            {% endfor %}
                            </tbody>
                            </table>
                        </div>
                        <!--PAGINATOR -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if roles.has_previous %}
                                       <li class="page-item ">
                                            <a  class="page-link" href="?usuarios_page={{roles.previous_page_number}}" tabindex="-1">
                                                <i class="fa fa-angle-left"></i>

                                                <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="?usuarios_page={{roles.previous_page_number }}">{{roles.previous_page_number}}</a></li>
                               
                                    
                                {% endif %}
                             
                                
                                <li class="page-item active"><a class="page-link" href="#">{{roles.number}} </a></li>
                                 {% if roles.has_next %}
                                        <li class="page-item"><a class="page-link" href="?usuarios_page={{roles.next_page_number}}">{{roles.next_page_number}}</a></li>
                                        <li class="page-item">
                                        <a class="page-link" href="?usuarios_page={{roles.next_page_number}}">
                                            <i class="fa fa-angle-right"></i>
                                            <span class="sr-only">Next</span>
                                        </a>
                                        </li>
                                 {% endif %}

                                
                            </ul>
                        </nav>
                        <!--FIN PAGINATOR -->

                    </div>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                    <h6>Projects table</h6>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center justify-content-center mb-0">
                        <thead>
                            <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Project</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Budget</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Completion</th>
                            <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>
                                <div class="d-flex px-2">
                                <div>
                                    <img src="../assets/img/small-logos/logo-spotify.svg" class="avatar avatar-sm rounded-circle me-2" alt="spotify">
                                </div>
                                <div class="my-auto">
                                    <h6 class="mb-0 text-sm">Spotify</h6>
                                </div>
                                </div>
                            </td>
                            <td>
                                <p class="text-sm font-weight-bold mb-0">$2,500</p>
                            </td>
                            <td>
                                <span class="text-xs font-weight-bold">working</span>
                            </td>
                            <td class="align-middle text-center">
                                <div class="d-flex align-items-center justify-content-center">
                                <span class="me-2 text-xs font-weight-bold">60%</span>
                                <div>
                                    <div class="progress">
                                    <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                    </div>
                                </div>
                                </div>
                            </td>
                            <td class="align-middle">
                                <button class="btn btn-link text-secondary mb-0">
                                <i class="fa fa-ellipsis-v text-xs"></i>
                                </button>
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <div class="d-flex px-2">
                                <div>
                                    <img src="../assets/img/small-logos/logo-invision.svg" class="avatar avatar-sm rounded-circle me-2" alt="invision">
                                </div>
                                <div class="my-auto">
                                    <h6 class="mb-0 text-sm">Invision</h6>
                                </div>
                                </div>
                            </td>
                            <td>
                                <p class="text-sm font-weight-bold mb-0">$5,000</p>
                            </td>
                            <td>
                                <span class="text-xs font-weight-bold">done</span>
                            </td>
                            <td class="align-middle text-center">
                                <div class="d-flex align-items-center justify-content-center">
                                <span class="me-2 text-xs font-weight-bold">100%</span>
                                <div>
                                    <div class="progress">
                                    <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                    </div>
                                </div>
                                </div>
                            </td>
                            <td class="align-middle">
                                <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-v text-xs"></i>
                                </button>
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <div class="d-flex px-2">
                                <div>
                                    <img src="../assets/img/small-logos/logo-jira.svg" class="avatar avatar-sm rounded-circle me-2" alt="jira">
                                </div>
                                <div class="my-auto">
                                    <h6 class="mb-0 text-sm">Jira</h6>
                                </div>
                                </div>
                            </td>
                            <td>
                                <p class="text-sm font-weight-bold mb-0">$3,400</p>
                            </td>
                            <td>
                                <span class="text-xs font-weight-bold">canceled</span>
                            </td>
                            <td class="align-middle text-center">
                                <div class="d-flex align-items-center justify-content-center">
                                <span class="me-2 text-xs font-weight-bold">30%</span>
                                <div>
                                    <div class="progress">
                                    <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="30" style="width: 30%;"></div>
                                    </div>
                                </div>
                                </div>
                            </td>
                            <td class="align-middle">
                                <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-v text-xs"></i>
                                </button>
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <div class="d-flex px-2">
                                <div>
                                    <img src="../assets/img/small-logos/logo-slack.svg" class="avatar avatar-sm rounded-circle me-2" alt="slack">
                                </div>
                                <div class="my-auto">
                                    <h6 class="mb-0 text-sm">Slack</h6>
                                </div>
                                </div>
                            </td>
                            <td>
                                <p class="text-sm font-weight-bold mb-0">$1,000</p>
                            </td>
                            <td>
                                <span class="text-xs font-weight-bold">canceled</span>
                            </td>
                            <td class="align-middle text-center">
                                <div class="d-flex align-items-center justify-content-center">
                                <span class="me-2 text-xs font-weight-bold">0%</span>
                                <div>
                                    <div class="progress">
                                    <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0" style="width: 0%;"></div>
                                    </div>
                                </div>
                                </div>
                            </td>
                            <td class="align-middle">
                                <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-v text-xs"></i>
                                </button>
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <div class="d-flex px-2">
                                <div>
                                    <img src="../assets/img/small-logos/logo-webdev.svg" class="avatar avatar-sm rounded-circle me-2" alt="webdev">
                                </div>
                                <div class="my-auto">
                                    <h6 class="mb-0 text-sm">Webdev</h6>
                                </div>
                                </div>
                            </td>
                            <td>
                                <p class="text-sm font-weight-bold mb-0">$14,000</p>
                            </td>
                            <td>
                                <span class="text-xs font-weight-bold">working</span>
                            </td>
                            <td class="align-middle text-center">
                                <div class="d-flex align-items-center justify-content-center">
                                <span class="me-2 text-xs font-weight-bold">80%</span>
                                <div>
                                    <div class="progress">
                                    <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="80" style="width: 80%;"></div>
                                    </div>
                                </div>
                                </div>
                            </td>
                            <td class="align-middle">
                                <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-v text-xs"></i>
                                </button>
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <div class="d-flex px-2">
                                <div>
                                    <img src="../assets/img/small-logos/logo-xd.svg" class="avatar avatar-sm rounded-circle me-2" alt="xd">
                                </div>
                                <div class="my-auto">
                                    <h6 class="mb-0 text-sm">Adobe XD</h6>
                                </div>
                                </div>
                            </td>
                            <td>
                                <p class="text-sm font-weight-bold mb-0">$2,300</p>
                            </td>
                            <td>
                                <span class="text-xs font-weight-bold">done</span>
                            </td>
                            <td class="align-middle text-center">
                                <div class="d-flex align-items-center justify-content-center">
                                <span class="me-2 text-xs font-weight-bold">100%</span>
                                <div>
                                    <div class="progress">
                                    <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                    </div>
                                </div>
                                </div>
                            </td>
                            <td class="align-middle">
                                <button class="btn btn-link text-secondary mb-0" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-v text-xs"></i>
                                </button>
                            </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <footer class="footer pt-3  ">
                <div class="container-fluid">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-6 mb-lg-0 mb-4">
                    <div class="copyright text-center text-sm text-muted text-lg-start">
                        © <script>
                        document.write(new Date().getFullYear())
                        </script>,
                        made with <i class="fa fa-heart"></i> by
                        <a href="https://www.creative-tim.com" class="font-weight-bold" target="_blank">Creative Tim</a>
                        for a better web.
                    </div>
                    </div>
                    <div class="col-lg-6">
                    <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                        <li class="nav-item">
                        <a href="https://www.creative-tim.com" class="nav-link text-muted" target="_blank">Creative Tim</a>
                        </li>
                        <li class="nav-item">
                        <a href="https://www.creative-tim.com/presentation" class="nav-link text-muted" target="_blank">About Us</a>
                        </li>
                        <li class="nav-item">
                        <a href="https://creative-tim.com/blog" class="nav-link text-muted" target="_blank">Blog</a>
                        </li>
                        <li class="nav-item">
                        <a href="https://www.creative-tim.com/license" class="nav-link pe-0 text-muted" target="_blank">License</a>
                        </li>
                    </ul>
                    </div>
                </div>
                </div>
            </footer>
            </div>
    </main>
</body>

{% endblock content %}



