<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
       <form  method="POST">
         {% csrf_token %} 
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name"><br>

        <label for="phone">Telefono:</label>
        <input type="text" id="phone" name="phone"><br>

        <label for="email">Correo:</label>
        <input type="email" name="email" id="email"><br>

        <button>Enviar</button><br>
       </form>
</body>
</html>